name: Publish Docker image

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      # 1️ Checkouting repository
      - name: Checkout repository
        uses: actions/checkout@v3

      # 2️ Loging in to GHCR using PAT
      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ashrafutuyu
          password: ${{ secrets.DEV_TEAMMM_PAT }}

      # 3️ Build & push Docker image
      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: ghcr.io/ashrafutuyu/ecommerce:latest
